.Container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .head h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Playwrite DE Grund", cursive;
  }
  
  .head p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .coin-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    text-align: left;
  }

  @media screen and (max-width: 768px) {
    .coin-info {
      grid-template-columns: 1fr;
    }
    
  }
  
  .coin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    border: 1px solid #ff6600;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff11;
}

.coin-details h2 {
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coin-details p {
    font-size: 1rem;
    margin-top: 10px;
    width: 100%;
}